.cripto-placeholder {
    grid-area: CriptoImg;
    align-self: center;
    justify-self: center;
}

.cripto-img {
    display: block;
    max-width: 100%;
    object-fit: contain;
    grid-area: CriptoImg;
    align-self: center;
    justify-self: center;
}

