a{
    display: block;
    cursor: pointer;
}
.main-container{
    padding: 1em 2em;
}

.main-list-container{
    padding: 1em 1.5em;
}

.cripto-container{
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 1em;
}

h1{
    font-size: xx-large;
}

.section-home{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    gap: 0.2em;
}

.button-go{
    padding: 0.5em 3em;
    width: fit-content;
    color: #001233;
    border-radius: 0.5em;
    background-color: #ebebeb;
}

.button-go:visited {
    color: #001233;
}